# Dependencies
node_modules/
pnpm-lock.yaml

# Environment variables
.env

# Prisma
.prisma/
schema.prisma

# Build output
dist/
/dist*

# Logs
*.log
logs/

# Uploads
uploads/

# Firebase
.firebaserc
firestore-debug.log

# SDK App Files
# https://github.com/GoogleCloudPlatform/nodejs-samples/blob/master/google-auth/nodejs/.gitignore
google-services-info.local.json

# IDE
.vscode/
.user/
.tsbuildinfo
.vscode/*
.vercel
.env.local
.env.*.local
